// fonts
@font-face {
  font-family: 'AkkuratStd';
  src: url('./../fonts/AkkuratStd-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'AkkuratStd';
  src: url('./../fonts/AkkuratStd-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'AkkuratStd';
  src: url('./../fonts/AkkuratStd-Italic.woff') format('woff');
  font-style: italic;
}
