// brand styles
$brandOrange: #f7910b;
$brandBlue: #165788;

// font color
$brandFontColor: #7a7c80;
$secondaryFontColor: #adafaf;

$brandFontSize: 16px;

$brandFont: "AkkuratStd", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;

// break points
$xs: 420px;
$sm: 540px;
$sm-max: 767px;
$md: 768px;
$lg: 1024px;
$xl: 1240px;
$xxl: 1380px;
